*{
    box-sizing: border-box;
    margin: 0;
}
/* this is my header css */
header{
    width: 100%;
    height: 10vh;
 
}

.menu{
    height: 60px;
    width: 50px;
    float: right;
    margin-right: 30px;
    margin-top: 15px;
}

 
h1{
    font-size: 40px;
    font-weight: bold;
text-align: center;
padding-top: 100px;

}
button{
    background-color: yellow;
    border-radius: 5px;
    height: 40px;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
button:hover{
    background-color:red;
}
a:hover{
    color: white;
}
main {
    background-image: url("assets/reichstag.jpg");
    height:120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5px;
  }
  
  .main_content {
      text-align: center;
      color: white;
      top: 40%;
      left: 30%;
      position: absolute;
    
  }
.big{
    width: 30%;
    display: inline-block;
    margin-left: 13%;
    margin-top: 30px;
}
.icone{
    float: left;
 width: 40%;
 height: 100px;
}
.small{
 float: right;
    width: 60%;
 height: 100px;
 padding-top: 20px;
 
}






/* 

/* fin exemple */
/* .after_main{
    width: 100%;
    height: 50vh;
    border: 1px solid red;
    float: left;
    margin-top: 20px;
} */
/* .blog{
   float: left;
    height: 20vh;
    width: 40%;
    border: 1px solid red;
    margin-left: 8%;
   
} */
/* .small_blog{
    float: left;
    width: 100%;
    height: 10vh;
} */
/* .icon{
    display: inline-block;
    height: 15vh;
    width: 20%;
    border: 1px solid blue;
   
   
}
.text{
   

    height: 15vh;
    width: 75%;
    border: 1px solid blue;
    
}
.icon img{
    width: 30%;
    height: 15vh;
}  */
 
@media screen and  (min-height:0) and (max-height:95px){
    header{
        width: 100%;
        height: 90vh;
        
        
       
    } 
}
@media screen and  (min-height:95px) and (max-height:165px){
    header{
        width: 100%;
        height: 50vh;
        
        
       
    } 
}
@media screen and  (min-height:165px) and (max-height:270px){
    header{
        width: 100%;
        height: 45vh;
        
        
       
    } 
}
@media screen and  (min-height:270px) and (max-height:305px){
    header{
        width: 100%;
        height: 30vh;
        
        
       
    } 
}
@media screen and  (min-height:305px) and (max-height:700px){
    header{
        width: 100%;
        height: 20vh;
        
        
       
    } 
}
 footer p{
    width: 100%;
    height: 80px;
    background: gray;
    color: white;
    top: 180%;
    margin-top: 120px;
}
@media screen and ( max-width:450px){
    h1{
        font-size: 20px;
        font-weight: bold;
    text-align: center;
    padding-top: 100px;
    margin-right: 90px;
    
    }
    button{
        background-color: yellow;
        border-radius: 5px;
        height: 40px;
        width: 40%;
        font-size: 15px;
        font-weight: bold;
        margin-right: 90px;
    }
/* icone */
.big{
    width: 100%;
    display: inline-block;
    margin-left: 0%;
    margin-top: 30px;
}
.icone{
    float: left;
 width: 40%;
 height: 100px;
}
.small{
 float: right;
    width: 60%;
 height: 100px;
 padding-top: 20px;
 
}

}

